
* {
    font-family: 'Texturina', serif;
}
/* body{
    background-image: radial-gradient(circle at 98.76% 50%, #fbffff 0, #ecfffd 7.14%, #dafffa 14.29%, #c6fff7 21.43%, #aefff5 28.57%, #92fff3 35.71%, #70fcf2 42.86%, #3cf2f2 50%, #00e7f3 57.14%, #00ddf6 64.29%, #00d4fa 71.43%, #00cbff 78.57%, #00c2ff 85.71%, #00baff 92.86%, #00b3ff 100%);
} */
.contenido{ 
    display: flex;
    align-items: center;
    justify-content:space-evenly ;
    flex-direction: column;
    margin:-48% auto;
    height: 200vh;
    margin:-40% 0% 10% 10%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 6px rgb(0, 0,0,.5) ;
    width: 80vw;
    position: relative;
}
.contenido img{
    width: 20%;
    margin:-23.5% 0 0 53% ;
}
h1{
    margin-top: -8%;
    font-size: 50px;
    border-bottom: rgb(65, 64, 64) solid 1.5px;
    width: 68%;
}
p{
    margin: -55% 0 1% 0;
}
table{
   width: 70%;
   background-color: #fff;
   text-align: left;
   border-collapse: collapse;
}
.encabezado{
    background-color: rgb(101, 196, 243);
    border-bottom: solid rgb(101, 162, 241) 5px;
    color: white;
}
th{
    font-size: 20px;
}
th,td{
    padding: 20px;
}
/* Selecciona cada elemento par dentro del grupo de hermanos*/
tr:nth-child(even){
    background-color: #ddd;
}
tr:hover td{
    background-color:rgb(190, 219, 233);
}
#cambiar{
    padding:1%;
    width: 20%;
    color: white;
    background-color: rgb(31, 137, 236);
    border: solid 2px  rgb(31, 137, 236);
    border-radius: 33px;
    font-size: 20px;
    margin: -12% 0 52% 0%;
}
#cambiar:hover{
    background-color: #fff;
    color: rgb(31, 137, 236);
    font-weight: bold;
    cursor: pointer;
}
.subtitulo{
    width: 70%;
    text-align: justify;
}