<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./../assets/img/miPerfil.png" type="image/x-icon">
    <link rel="stylesheet" href="./../assets/css/header.css">
    <link rel="stylesheet" href="./../assets/css/footer.css">
    <link rel="stylesheet" href="./../assets/css/datosBibliograficos.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Texturina:wght@100&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <title>Datos Bibliograficos</title>
    <script src="./../assets/js/dia-noche.js"></script>
</head>

<body id="body">
    <div class="cabecera">
        <div class="nav">
            <div class="logo">
                <a href="./../index.html"><img src="./../assets/img/miPerfil.png" alt=""></a>
            </div>
            <ul>
                <li><a href="./foroDeMensajes.html">Foro de mensajes</a></li>
                <li><a href="./materialDeInteres.html">Material de interés</a></li>
                <li><a href="./lineaDelTiempo.html">Línea del Tiempo</a></li>
                <li><a href="./experiencia.html">Experiencia</a></li>
                <li><a class="active" href="#">Datos Bibliográficos</a></li>
                <li><a href="./../index.html">Inicio</a></li>
            </ul>
        </div>
    </div>
 
    <div id="contenido" class="contenido">
        <br>
        <h1 id="titulo" class="titulo">Datos Bibliograficos</h1>
        <img src="./../assets/img/ecology.svg" alt="">
        <hr>
        <button id="cambiar" onclick="cambiar();">Noche</button>
        <p class="subtitulo">En esta sección encontrarás información sobre mi bibliográfia, pobrás ver las diferentes actividades que he
            realizado durante mis estudios de primaria y bachillerato, igualmente parte de mi niñez y mi pubertad
            desarrollada en mi hogar, mi familia y mis amigos.</p>
        <table class="tabla">
            <thead id="encabezado" class="encabezado">
                <th>Momentos de mi vida</th>
            </thead>
            <tr>
                <td>Nací el 21 de julio de 2003 en Bogotá</td>
            </tr>
            <tr>
                <td>Hijo de Sandra Milena Gantiva y Juan Francisco Paz</td>
            </tr>
            <tr>
                <td>Tengo dos hermanos que son, Liseth Vanesa y Kevin Steven</td>
            </tr>
            <tr>
                <td>Profeso la religion Catolica y soy muy creyente</td>
            </tr>
            <tr>
                <td>Respeto los valores de la familia</td>
            </tr>
            <tr>
                <td>He permanecido dentro de mi etapa del colegio siempre entre los tres primeros puestos</td>
            </tr>
            <tr>
                <td>Estudie primaria y bachillerato en el Colegio Claretiano</td>
            </tr>
            <tr>
                <td>En mis momentos de descanso he adelantado cursos virtuales de programación, ingles y demás</td>
            </tr>
            <tr>
                <td>Me gusta el ajedréz y lo practico constantemente</td>
            </tr>
            <tr>
                <td>En el Colegio entrené baloncesto</td>
            </tr>
            <tr>
                <td>He participado en diferentes olimpiadas intercolegiadas en distintas areas</td>
            </tr>
        </table>
    </div>

    <footer>
        <div class="informacion">
            <h2>Juan Sebastian Paz Gantiva| Copyright</h2>
            <!-- <img src="./assets/img/miPerfil.png" alt=""> -->
        </div>
        <hr>
        <div class="icons">
            <a href="https://www.facebook.com/">
                <box-icon name='facebook-square' type='logo' color='#ffffff'></box-icon>
            </a>
            <a href="https://www.instagram.com/">
                <box-icon name='instagram' type='logo' color='#ffffff'></box-icon>
            </a>
            <a href="https://twitter.com/?lang=es">
                <box-icon name='twitter' type='logo' color='#ffffff'></box-icon>
            </a>
        </div>
    </footer>
</body>

</html>