<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./../assets/img/miPerfil.png" type="image/x-icon">
    <link rel="stylesheet" href="./../assets/css/header.css">
    <link rel="stylesheet" href="./../assets/css/footer.css">
    <link rel="stylesheet" href="./../assets/css/experiencia.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Texturina:wght@100&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <title>Experiencia</title>
</head>

<body>
    <div class="cabecera">
        <div class="nav">
            <div class="logo">
                <a href="./../index.html"><img src="./../assets/img/miPerfil.png" alt=""></a>
            </div>
            <ul>
                <li><a href="./foroDeMensajes.html">Foro de mensajes</a></li>
                <li><a href="./materialDeInteres.html">Material de interés</a></li>
                <li><a href="./lineaDelTiempo.html">Línea del Tiempo</a></li>
                <li><a class="active" href="#">Experiencia</a></li>
                <li><a href="./datosBibliograficos.html">Datos Bibliográficos</a></li>
                <li><a href="./../index.html">Inicio</a></li>
            </ul>
        </div>
        
    </div>
    <div class="contenido">
        <h1 class="titulo">Experiencia</h1>
        <hr>
        <p class="p-principal" >Aquí, en está pagina se encuentra la experiencia que tengo en mi vida, en distintos campos como academicamente o laboralmente.</p>
        <div class="indice">
            <h2>Indice</h2>
            <ol>
                <a href="#experiencia-laboral"><li>Experiencia Laboral</li></a>
                <a href="#estudio"><li>Estudios</li></a>
                <a href="#produccion-intelectual"><li>Producción Intelectual</li></a>
                <a href="#premios"><li>Premios</li></a>
            </ol>
        </div>
    </div>
                    <div class="principal">
                        <div id="experiencia-laboral" class="cont">
                            <h2>Experiencia Laboral</h2>
                            <div class="exp">
                                <p>He trabajado diseñando y estructurando paginas web, con diseños exclusivos y dinámicos, contando con una estructura responsive, y además con funcionalidades como la CRUD, enlazada a bases de datos.</p>
                                <img src="./../assets/img/experience2.jpg" alt="">
                            </div>
                        </div>
                        <div id="estudio" class="cont">
                            <h2>Estudios</h2>
                            <div class="exp">
                                
                                    <ol>
                                        <li>Estudie en el colegio Claretiano, en el cual terminé satisfactoriamente la primaria y el bachillerto con los honores correspondientes.</li>
                                        <li>Hice un curso de Tecnico en el Sena de Programación de software.</li> 
                                        <li>Hice un par de cursos de Ingles en el Sena.</li>
                                        <li>Aparte, hice distintos cursos de programación por internet, estudiando algunos lenguajes de programación, bases de datos, frameworks y demás cosas.</li>
                                    </ol>
                                    <img src="./../assets/img/estudio.jpg" alt="">
                                
                            </div>
                        </div>
                        <div id="produccion-intelectual" class="cont">
                            <h2>Producción Intelectual</h2>
                            <div class="exp">
                                <ol>
                                    <li>Trabajos manuales como maquetas, figuras, regalos.</li>
                                    <li>Leer algunos libros</li>
                                    <li>Crear reseñas de algunos libros</li>
                                    <li>He aprendido el manejo de los recursos economicos en mi hogar ya que siempre he siempre he participado en las diferntes compras de alimentación y aseo, logrando obtener una visión clara del costo de viveres y demás gastos.</li>
                                </ol>
                                <img src="./../assets/img/mente.jpg" alt="">
                            </div>
                        </div>
                        <div id="premios" class="cont">
                            <h2>Premios</h2>
                            <div class="exp">
                                <ol>
                                    <li>Ternas de excelecia durante todo el colegio</li>
                                    <li>Reconocimientos de excelencia en el Sena en programación</li>
                                    <li>Primeros lugares en olimpiadas matematicas</li>
                                    <li>Primeros lugares torneos de baloncesto</li>
                                </ol>
                                <img src="./../assets/img/ganar.jpg" alt="">
                            </div>
                        </div>
                        
                    </div>
    
    <footer>
        <div class="informacion">
            <h2>Juan Sebastian Paz Gantiva| Copyright</h2>
            <!-- <img src="./assets/img/miPerfil.png" alt=""> -->
        </div>
        <hr>
        <div class="icons">
            <a href="https://www.facebook.com/">
                <box-icon width='100px' name='facebook-square' type='logo' color='#ffffff'></box-icon>
            </a>
            <a href="https://www.instagram.com/">
                <box-icon name='instagram' type='logo' color='#ffffff'></box-icon>
            </a>
            <a href="https://twitter.com/?lang=es">
                <box-icon name='twitter' type='logo' color='#ffffff'></box-icon>
            </a>
        </div>
    </footer>
</body>

</html>