<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./../assets/img/miPerfil.png" type="image/x-icon">
    <link rel="stylesheet" href="./../assets/css/header.css">
    <link rel="stylesheet" href="./../assets/css/footer.css">
    <link rel="stylesheet" href="./../assets/css/lineaDelTiempo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Texturina:wght@100&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <title>Linea del tiempo</title>
</head>

<body>
    <div class="cabecera">
        <div class="nav">
            <div class="logo">
                <a href="./../index.html"><img src="./../assets/img/miPerfil.png" alt=""></a>
            </div>
            <ul>
                <li><a href="./foroDeMensajes.html">Foro de mensajes</a></li>
                <li><a href="./materialDeInteres.html">Material de interés</a></li>
                <li><a class="active" href="#">Línea del Tiempo</a></li>
                <li><a href="./experiencia.html">Experiencia</a></li>
                <li><a href="./datosBibliograficos.html">Datos Bibliográficos</a></li>
                <li><a href="./../index.html">Inicio</a></li>
            </ul>
        </div>
    </div>

    <div class="contenido">
        <h1>Linea del Tiempo</h1>
        <br>
        <hr class="hr">
        <br>
        <div class="section">
            <div class="tar">
                <p class="titul">Mi nacimiento - 21/julio/2003</p>
                <hr>
                <p>Cuando llegue a este mundo le di mucha alegría a mi familia, y en ese momento nos cambiamos de casa,
                    donde teníamos un cuarto con muchos juguetes.</p>
                <img src="./../assets/img/pequeño1.jpg" style="margin-left:8.5vw" width="147vw" ; alt="">
            </div>
            <div class="tar">
                <p class="titul">Iniciando en el colegio - febrero/2009</p>
                <hr>
                <p>Mi aprendizaje empezó desde antes de entrar al colegio, porque mi mama me enseño los números, los
                    colores, a leer, entre otras cosas, y cuando llegue al colegio se me facilito y siempre obtuve
                    buenos resultados.</p>
                <img src="./../assets/img/pequeño3.jpg" style="margin-left:7.5vw" width="220vw" alt="">
            </div>
            <div class="tar">
                <p class="titul">Mi niñes - De 6 a 9 años </p>
                <hr>
                <p>Estuvo acompañada por mis padres, mi hermano mayor y mi hermana menor, también estuvo acompañado por
                    los primos, con los que jugaba y realizábamos paseos, siempre se me inculco el estudio, la
                    responsabilidad y respeto, Cambie de look, me quite el honguito, empecé a tener amigos, mostré ser
                    muy inteligente, me gustaba ir al colegio, hacia mis tareas, en esta época mis padres trabajaron y
                    demostré mucha responsabilidad estando solo.</p>
                <img src="./../assets/img/pequeño4.jpg" width="100vw" style="margin-left:3vw" alt="">
                <img src="./../assets/img/pequeño5.jpg" width="240vw" style="display: inline; margin-left:2vw" alt="">
            </div>
            
            <div class="tar">
                <p class="titul">Mi PreAdolencencia - De 10 a 13 años </p>
                <hr>
                <p>Fue muy tranquila, reino siempre la responsabilidad, empecé a tener más amistades. Siempre compartí con mi familia, estando juntos en paseos, reuniones, 
                    cine, parques, me gustaba el deporte fisico, juegos de campo, luego aprendí a jugar el deporte 
                    ciencia ajedrez, demostrando gran aptitud a partir de los 10 años.Demostré que era muy malgeniado e intolerante, reaccionaba muy violento, no me aguantaba nada.</p>
                <img src="./../assets/img/pequeño6.jpg" width="100vw" style="margin-left:11vw" alt="">
            </div>
            <div class="tar">
                <p class="titul">Mi Adolecencia - De 13 a 17 años </p>
                <hr>
                <p>En esta epoca empece a ver el mundo de una forma distinta, deje de ser tan malgeniado y me controlaba más. 
                    Empece a colaborar más en la casa, a ser ordenado con mis cosas, descubrí nuevos intereses como los hobies 
                    que practico, entre ellos está el baloncesto y el ajedrez. Me volvi más sociable, conocí diferentes lugares 
                    muy interesantes, empecé a ver temas relacionados con la programación y me volví más responsable.</p>
                <img src="./../assets/img/pequeño7.jpg"  width="100vw" style="margin-left:10.5vw" alt="">
            </div>
            
            </div>
        </div>
    </div>

    <footer>
        <div class="informacion">
            <h2>Juan Sebastian Paz Gantiva| Copyright</h2>
            <!-- <img src="./assets/img/miPerfil.png" alt=""> -->
        </div>
        <hr>
        <div class="icons">
            <a href="https://www.facebook.com/">
                <box-icon width='100px' name='facebook-square' type='logo' color='#ffffff'></box-icon>
            </a>
            <a href="https://www.instagram.com/">
                <box-icon name='instagram' type='logo' color='#ffffff'></box-icon>
            </a>
            <a href="https://twitter.com/?lang=es">
                <box-icon name='twitter' type='logo' color='#ffffff'></box-icon>
            </a>
        </div>
    </footer>
</body>

</html>