<!DOCTYPE html>
<html lang="en"> 

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./../assets/img/miPerfil.png" type="image/x-icon">
    <link rel="stylesheet" href="./../assets/css/header.css">
    <link rel="stylesheet" href="./../assets/css/footer.css">
    <link rel="stylesheet" href="./../assets/css/materialDeInteres.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Texturina:wght@100&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <title>Material de Interes</title>
</head>

<body>
    <div class="cabecera">
        <div class="nav">
            <div class="logo">
                <a href="./../index.html"><img src="./../assets/img/miPerfil.png" alt=""></a>
            </div>
            <ul>
                <li><a href="./foroDeMensajes.html">Foro de mensajes</a></li>
                <li><a class="active" href="#">Material de interés</a></li>
                <li><a href="./lineaDelTiempo.html">Línea del Tiempo</a></li>
                <li><a href="./experiencia.html">Experiencia</a></li>
                <li><a href="./datosBibliograficos.html">Datos Bibliográficos</a></li>
                <li><a href="./../index.html">Inicio</a></li>
            </ul>
        </div>
    </div>

    <div class="contenido">
        <h1>Material de Interes</h1>
        <h2 class="subtitulo" >Mis videos favoritos</h2>
            <div id="videos-favoritos">
                <div class="video">
                    <iframe width="500" height="315" src="https://www.youtube.com/embed/8jMXckfcxDU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="video">
                    <iframe width="500" height="315" src="https://www.youtube.com/embed/jin-09G9Fbs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="video" >
                    <iframe width="500" height="315" src="https://www.youtube.com/embed/ebbirKtb33w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="video">
                    <iframe width="500" height="315" src="https://www.youtube.com/embed/OnKslVP9GB0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <h2 class="subtitulo">Mi lista de musica</h2>
        <div id="musica-favorita">
            <!-- <ol>
                <a href="https://www.youtube.com/watch?v=w8R_BPZKDqk"><li>Green Valley - Tu Mejor Versión</li></a>
                <a href="https://www.youtube.com/watch?v=amPf-2SLKLQ"><li>ALI A.K.A MIND - Sigo en la mia</li></a>
                <a href="https://www.youtube.com/watch?v=XcO3QStdJ2g"><li>Nach - Grande</li></a>
                <a href="https://www.youtube.com/watch?v=XjA7tvuqXG4"><li>Canserbero - C'est la Mort</li></a>
                <a href="https://www.youtube.com/watch?v=ZRMUInxr94o"><li>NACH - QUIERO CONTARTE</li></a>
                <a href="https://www.youtube.com/watch?v=O4f58BU_Hbs"><li>Residente - René</li></a>
                <a href="https://www.youtube.com/watch?v=pTbczfaJTt0"><li>Canserbero - Stupid Love Story</li></a>
                <a href="https://www.youtube.com/watch?v=-LbAkMln0rs"><li>El Chojin - Dejarse La Piel</li></a>
            </ol> -->
            <iframe class="iframe" src="https://open.spotify.com/embed/playlist/4rCrECOSYLqvGMwwAB02zr" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            <img src="./../assets/img/musica.jpg" alt="">
        </div>
        <h2 class="subtitulo" >Galeria</h2>
        <div id="imagenes">
            <img src="./../assets/img/basket.jpg" alt="">
            <img src="./../assets/img/prog.jpg" alt="">
            <img src="./../assets/img/chess.jpg" alt="">
            <img src="./../assets/img/fig.jpg" alt="">
            <img src="./../assets/img/aro.jpg" alt="">
            <img src="./../assets/img/prog2.jpg" alt="">
            <!-- <img src="./../assets/img/robot.jpg" alt=""> -->

        </div>
    </div>
    <footer>
        <div class="informacion">
            <h2>Juan Sebastian Paz Gantiva| Copyright</h2>
            <!-- <img src="./assets/img/miPerfil.png" alt=""> -->
        </div>
        <hr>
        <div class="icons">
            <a href="https://www.facebook.com/">
                <box-icon width='100px' name='facebook-square' type='logo' color='#ffffff'></box-icon>
            </a>
            <a href="https://www.instagram.com/">
                <box-icon name='instagram' type='logo' color='#ffffff'></box-icon>
            </a>
            <a href="https://twitter.com/?lang=es">
                <box-icon name='twitter' type='logo' color='#ffffff'></box-icon>
            </a>
        </div>
    </footer>
</body>

</html>